.profile-top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #393f4b;
  color: aliceblue;
  height: 80vh;
}

.profile-bottom{
  background-color: #23272e;
  color: aliceblue;
}

.recTitle{
  text-align: center;
}

.profileRec{
  padding: 10px;
  width: 20rem;
  cursor: pointer;
}

.userInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}